@font-face {
	font-family: Bergamasco;
	font-weight: 400;
	src: url('../fonts/Bergamasco\ Regular.ttf');
}

@font-face {
	font-family: Alumni;
	font-weight: 300;
	src: url('../fonts/AlumniSans-Light.ttf');
}

@font-face {
	font-family: Antarctic;
	font-weight: 400;
	src: url('../fonts/Antarctic.otf');
}
